<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="3" parallel="tests" >
<test name="ChromeTest">
<parameter name="Browser" value="Chrome" />
	<classes>
		<class name="Demosele.gettext">
		</class>
	</classes>
<!-- </test>
<test name="FirefoxTest">
	<parameter name="Browser" value="Firefox" />
	<classes>
		<class name="Demosele.gettext">
		</class>
	</classes>
</test>
<test name="InternetExplorerTest">
	<parameter name="Browser" value="InternetExplorer" />
	<classes>
		<class name="Demosele.gettext">
		</class>
	</classes> -->
</test>
</suite> 



